<form [formGroup]="settingsForm">
  <div class="card-container">
    <mat-card>
    <mat-card-title > Invoice Server Settings </mat-card-title>
    <div fxLayout="column" fxLayoutAlign="space-around end" >
      <mat-form-field>
        <mat-select placeholder="{{ selectedDomain.name }}" formControlName="domain" select>
          <mat-option *ngFor="let dom of domainList" [value]="dom">{{ dom.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button matSuffix (click)="getDomainData()">
        <mat-icon>queue_play_next</mat-icon>
      </button>
    </div>
    <mat-card-content fxLayout="column">

      <mat-form-field>
        <mat-select placeholder="{{ selectedServer }}" formControlName="accountingServer" select>
          <mat-option *ngFor="let server of accountingServerList" [value]="server">{{ server.name }}--({{server.url}})</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions *ngIf="setupComplete" >
      <button (click)="setAccountingServer()" mat-flat-button color="primary">Setup</button>
    </mat-card-actions>
  </mat-card>
  </div>
</form>
