<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [disableClose]="!(isHandset$ | async)"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Admin</mat-toolbar>
    <ng-container *ngIf="loggedIn">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Accounting</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
              <a mat-list-item routerLink="/listing/account">Accounts</a>
              <a mat-list-item routerLink="/listing/journalentry">Journal Entry</a>
              <a mat-list-item routerLink="/tree/account">Account Tree</a>
              <a mat-list-item routerLink="/settings/account">Settings</a>
              <a mat-list-item routerLink="/reports">Account Reports</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Invoicing</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/listing/sales_invoice">Sales Invoice</a>
            <a mat-list-item routerLink="/listing/purchase_invoice">Purchase Invoice</a>
            <a mat-list-item routerLink="/settings/invoice">Settings</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-container *ngIf="tokenIsValid || loggedIn">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>Account</mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="logout()">Logout</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <button
      class="fab-container"
      (click)="addModel()"
      mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
