<div class="profile-container">
  <form [formGroup]="reportForm">
    <mat-card>
      <mat-card-title>Account Reports</mat-card-title>
      <mat-card-content fxLayout="row">
          <mat-form-field style="padding:1em">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <input
                matInput
                formControlName="fromDate"
                [matDatepicker]="datePicker"
                placeholder="Select From Date"
                [value]="fromDate"
                (dateInput)="updateFromDate('input', $event)">
              <mat-datepicker #datePicker ></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="padding:1em">
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <input
              matInput
              formControlName="toDate"
              [matDatepicker]="toDatePicker"
              placeholder="Select To Date"
              [value]="toDate"
              (dateInput)="updateToDate('input', $event)">
              <mat-datepicker #toDatePicker ></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxLayout="column" fxLayoutAlign="space-evenly start">
                <mat-select placeholder="{{ selectedDomain.name }}" formControlName="domain" select>
                  <mat-option *ngFor="let dom of domainList" [value]="dom">{{ dom.type }}</mat-option>
                </mat-select>
              </mat-form-field>
                <button mat-button matSuffix (click)="getDomainData()">
                    <mat-icon>queue_play_next</mat-icon>
                </button>
          </mat-card-content>
    </mat-card>
  </form>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly start">
  <mat-card-actions>
    <button (click)="getExpenditureReport()" mat-flat-button color="primary" ><mat-icon>cached</mat-icon></button>
    Get Expenditure Report
  </mat-card-actions>
  <mat-card-actions>
    <button (click)="getBalanceReport()" mat-flat-button color="primary" ><mat-icon>cached</mat-icon></button>
    Get Balance Reports
  </mat-card-actions>
  <mat-card-actions>
    <button (click)="getBalanceFromReport()" mat-flat-button color="primary" ><mat-icon>cached</mat-icon></button>
    Get Profit Reports
  </mat-card-actions>
  <mat-card-actions>
    <button (click)="getProfitReports()" mat-flat-button color="primary" ><mat-icon>cached</mat-icon></button>
    Get Time Reports
  </mat-card-actions>
</div>


<a *ngIf="csvReport" [href]="csvReport" download="report.csv">Download Your Reports csv file</a>

