.material {
    box-shadow: 0 0px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 2px 1px rgba(0, 0, 0, 0.12);
}
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
  
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
.mat-table {
  overflow: auto;
  max-height: 750px;
}
